@model SpeakingTree.Models.User

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "fileuploadform", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <p></p>
    <p>Please enter username OR Contact number to see your password</p>
    <p></p>

    <div class="row">
        <div class="col-sm-2">Username</div>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Id)
            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })

        </div>
    </div>

    <p></p>

    <div class="row">
        <div class="col-sm-2">Mobile Number</div>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.ContactNo)
            @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })

        </div>
    </div>

    <p></p>

    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-10">
            <button class="btn btn-primary btn-sm" id="btn-impMeeting" type="submit" style="margin-left: 5px; margin-right: 5px;">Submit</button>
        </div>

    </div>

    <p></p>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 text-danger">@ViewBag.ForgotPasswordError</div>
    </div>

    <p></p>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10"><h4> Change Password? @Html.ActionLink("Reset Here", "ResetPassword", "Home")</h4></div>
    </div>

}
