@model SpeakingTree.Models.User
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "fileuploadform", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-2">Username</div>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Id)
            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })

        </div>
    </div>
    <p></p>

    <div class="row">
        <div class="col-sm-2">Password</div>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Password, new { @type = "password" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-10">
            @*<input type="button" value="Login" class="btn btn-primary btn-lg" />*@

            <button class="btn btn-primary btn-sm" id="btn-impMeeting" type="submit" style="margin-left: 5px; margin-right: 5px;">Login</button>
        </div>

    </div>
    <p></p>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 text-danger">@ViewBag.LoginError</div>
    </div>
    <p></p>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10"><h4> Sign up: @Html.ActionLink("New User? Register Here", "Register", "Home")</h4></div>
    </div>

    <p></p>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10"><h6>  @Html.ActionLink("Forgot Password OR Reset", "ForgotPassword", "Home")</h6></div>
    </div>

}