@model SpeakingTree.Models.User

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password</h2>
@using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "fileuploadform", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <p></p>
    <p>Please enter current password and new password to change or reset your password</p>
    <p></p>

    <div class="row">
        <div class="col-sm-2">current password</div>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </div>
    </div>

    <p></p>

    <div class="row">
        <div class="col-sm-2">New Password</div>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

        </div>
    </div>
    <p></p>

    <div class="row">
        <div class="col-sm-2">Confirm Password</div>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

        </div>
    </div>

    <p></p>

    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-10">
            <button class="btn btn-primary btn-sm" id="btn-impMeeting" type="submit" style="margin-left: 5px; margin-right: 5px;">Submit</button>
        </div>

    </div>

    <p></p>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 text-danger">@ViewBag.ForgotPasswordError</div>
    </div>

    <p></p>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10"><h4> Change Password? @Html.ActionLink("Reset Here", "ResetPassword", "Home")</h4></div>
    </div>

}


